section.slider1 {
    position: relative;

}

section.slider1 .swiper {
    width: 100%;
    height: 100%;
}

section.slider1 .swiper-slide {
    width: 30%;
    height: 150px;
    text-align: center;
    font-family: "IRANSansWeb Bold", sans-serif;
    font-size: 20px;
    background-color: #00bfff;
    color: white;
    border-radius: 20px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

section.slider1 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.slider1 .swiper-button-prev:after,section.slider1 .swiper-button-next:after {
    font-size: 25px;
    color: #cccccc;
}